{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-image:url({% static 'img/newpage.jpg' %});background-size:cover;background-repeat:no-repeat;text-align:center">
   <br>
   <br>
   <br>
   <div>
       <label style="background-color:Silver;color:green;font-size:130px"><b>GREENBACKS BANK</b><br></label>
       <br>

       <div>
           <a href="form">
               <h3><button style="background-color:HotPink;font-size:20px;color:white;padding:15px 32px;text-decoration:none"> Get your Form</button></h3>
           </a>


       </div>

   </div>


   </a>

</body>
</html>